@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;
  color: black;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: black;
}

body {
  margin: 0;
  font-weight: 400;
}

